* {
    font-family: Verdana;
    
}

h1 {
    font-family: Helvetica;
    text-align: center;
}

h2 {
    text-align: center;
    opacity: 0.3;
}

a {
    color:brown;
}

a:hover {
    color:green;
}

.descripcion {
    font-size:20px;
}

.uppercase {
    text-transform: uppercase;
}

#mayor_poblacion {
    font-weight: bold;
}